@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.pages-wrapper {
    @apply p-4 pt-20 md:px-8 md:pt-28 xl:px-12 xl:pt-32 min-h-screen;
}

.index-background {
    background-image: url('/images/butterfly-background.png'), url('/images/header.jpg');
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: top center;
}

.background {
    background-image: url('/images/butterfly-background.png'), url('/images/background.jpg');
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: top center;
}

.wrapper {
    @apply sm:px-8 md:px-16 flex flex-wrap justify-center
}

.modal {
    margin-left: 0 !important;
}

.tippy-box[data-theme~='daisyui'] {
    background-color: #2b3440;
    color: #d7dde4;
}

.tippy-box[data-theme~='daisyui'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #2b3440;
}

.tippy-box[data-theme~='daisyui'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: #2b3440;
}

.tippy-box[data-theme~='daisyui'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: #2b3440;
}

.tippy-box[data-theme~='daisyui'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: #2b3440;
}

.tooltip:after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: var(--tooltip-tail, 0);
    width: 0;
    height: 0;
    display: block;
}

.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
    --tooltip-tail: 0.45rem;
    --tooltip-color: var(--fallback-n,oklch(var(--n)/1));
    --tooltip-text-color: var(--fallback-nc,oklch(var(--nc)/1));
    --tooltip-tail-offset: calc(100% + 0.0625rem/* 1px */ - var(--tooltip-tail));
}